*{
  background-color: black;
  text-align: center;
  font-family: "Verdana";
}

h1 {
  color:white;
  font-weight: normal;
}

h1.introduction{

  font-size: 50px;
}

h1.guide{
  font-weight: 300;
  font-size: 42px;

}

.app_link{
  color:aquamarine;
  font-size: 16px;
}

a:link{
  color:aquamarine;
}

video{
  object-fit: contain;
}

.personal_guide{
  font-size: 21px;
  color: gray;
}

.trademark{
  color: gray;
  text-align:right;;
}
