*{
  background-color: black;
  text-align: center;
  font-family: "Verdana";
}

h1 {

  font-weight: normal;
  font-size: 50px;
  color:white;
}

.app_link{
  color:aquamarine;
  font-size: 16px;
}

a:link{
  color:aquamarine;
}

video{
  object-fit: contain;
}

.personal_guide{
  font-size: 21px;
  color: gray;
}
